.logo{
    max-width: 20px;
}

.banner{
    background: url(./../img/bg4.png);
    padding: 50px;
    color:white;
}

.banner-2{
    background:linear-gradient(rgb(76, 163, 245),rgb(69, 139, 231),rgb(6, 145, 238));
    padding: 20px;
    color:white;
}

.img-game,.img-game-2{
    max-width: 50px;
    filter: grayscale(100%);
}

.btn-game,.btn-game-2{
    background: none;
    border: none;
    outline: none;
}

.btn-game:focus, .btn-game:active,.btn-game-2:focus, .btn-game-2:active{
    border: none;
    outline: none;
}


.img-game:hover, .ativado{
    filter: none;
}